command-center/tools/n8n/workflows/review-gate-webhook.json
[
  {
    "name": "Review Gate (Webhook \u2192 OpenAI \u2192 Drive)",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "review-gate",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "w1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -900,
          0
        ],
        "webhookId": "review-gate-webhook"
      },
      {
        "parameters": {
          "jsCode": "const headers = ($json && typeof $json === 'object' && $json.headers && typeof $json.headers === 'object') ? $json.headers : {};\nconst body = ($json && typeof $json === 'object') ? ($json.body ?? {}) : {};\n\nconst getHeader = (name) => {\n  const target = String(name).toLowerCase();\n  for (const [k, v] of Object.entries(headers)) {\n    if (String(k).toLowerCase() === target) return v;\n  }\n  return undefined;\n};\n\nconst expectedSecret = $env.REVIEW_GATE_SECRET;\nif (!expectedSecret || String(expectedSecret).trim() === '') {\n  return [{ json: { status:'error', error_type:'config_missing', message:'Missing env var REVIEW_GATE_SECRET', details:'', error_http_code:500 } }];\n}\n\nconst incomingSecret = getHeader('X-Review-Secret');\nif (!incomingSecret || String(incomingSecret).trim() === '' || String(incomingSecret) !== String(expectedSecret)) {\n  return [{ json: { status:'error', error_type:'auth_failed', message:'Missing or invalid X-Review-Secret', details:'', error_http_code:401 } }];\n}\n\nif (!body || typeof body !== 'object' || Array.isArray(body)) {\n  return [{ json: { status:'error', error_type:'validation_failed', message:'Payload must be a flat JSON object', details:'Invalid payload shape', error_http_code:400 } }];\n}\n\nconst required = ['artifact_id','artifact_title','artifact_type','artifact_version','review_type','submitted_by','content'];\nconst known = [...required,'source_model','current_stage','intended_outcome','decision_needed_now','risk_level','main_concern','desired_output','submitted_at','high_stakes'];\n\nconst normalized = {};\nfor (const k of known) {\n  if (Object.prototype.hasOwnProperty.call(body, k) && body[k] !== null && body[k] !== undefined) normalized[k] = String(body[k]);\n}\n\nif (!normalized.submitted_at || normalized.submitted_at.trim() === '') normalized.submitted_at = new Date().toISOString();\nif (!normalized.high_stakes || normalized.high_stakes.trim() === '') normalized.high_stakes = 'false';\nnormalized.high_stakes = normalized.high_stakes.trim().toLowerCase() === 'true' ? 'true' : 'false';\n\nconst missing = [];\nfor (const k of required) {\n  const v = normalized[k];\n  if (v === undefined || v === null || String(v).trim() === '') missing.push(k);\n}\n\nconst content = (normalized.content ?? '').trim();\nconst reasons = [];\n\nif (missing.length) reasons.push(`Missing/empty required fields: ${missing.join(', ')}`);\nif (content.length < 150) reasons.push('content must be at least 150 characters after trimming');\n\nconst placeholderPatterns = [\n  /\\b(tbd|todo)\\b/i,\n  /lorem\\s+ipsum/i,\n  /\\bcoming\\s+soon\\b/i,\n  /\\bplaceholder\\b/i,\n  /^\\s*test\\s*$/i,\n];\nfor (const pat of placeholderPatterns) {\n  if (pat.test(content)) { reasons.push('content appears placeholder-heavy'); break; }\n}\n\nconst chunks = content.split(/[.!?\\n]/g).map(s => s.trim()).filter(s => /[a-zA-Z]/.test(s) && s.length >= 20);\nif (chunks.length < 2) reasons.push('content is not substantively reviewable (needs at least 2 meaningful sentences)');\n\nif (reasons.length) {\n  const detailsObj = { missing_fields: missing, reasons };\n  return [{ json: { status:'error', error_type:'validation_failed', message:'Validation failed', details: JSON.stringify(detailsObj), error_http_code:400 } }];\n}\n\nconst payload = {};\nfor (const k of known) {\n  if (normalized[k] !== undefined) payload[k] = String(normalized[k]);\n}\n\nconsole.log('review-gate:intake_ok', { artifact_id: payload.artifact_id, artifact_version: payload.artifact_version, high_stakes: payload.high_stakes });\nreturn [{ json: { status:'pass', payload } }];"
        },
        "id": "w2",
        "name": "Gatekeeper",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -660,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w3",
        "name": "Passed Gate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -420,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status: 'error', error_type: $json.error_type || 'unknown_error', message: $json.message || 'An error occurred', details: $json.details || '' } }}",
          "options": {
            "responseCode": "={{ $json.error_http_code || 500 }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "w4",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -180,
          200
        ]
      },
      {
        "parameters": {
          "filePath": "/contracts/Review-Board-Operating-System.txt"
        },
        "id": "w5",
        "name": "Read Contract",
        "type": "n8n-nodes-base.readBinaryFile",
        "typeVersion": 1,
        "position": [
          -180,
          -120
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "binaryToJson",
          "setAllData": false,
          "sourceKey": "data",
          "destinationKey": "contract_text",
          "options": {
            "encoding": "utf8",
            "keepSource": false,
            "keepAsBase64": false
          }
        },
        "id": "w5a",
        "name": "Contract Binary \u2192 JSON",
        "type": "n8n-nodes-base.moveBinaryData",
        "typeVersion": 1,
        "position": [
          -60,
          -120
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const contractText = String($json.contract_text || '').trim();\nif (!contractText) {\n  const err = ($json && typeof $json === 'object') ? $json.error : undefined;\n  const details = err ? String(err) : 'Contract text missing after binary->json conversion';\n  return [{ json: { status:'error', error_type:'config_missing', message:'Contract file not readable at /contracts/Review-Board-Operating-System.txt', details, error_http_code:500 } }];\n}\nreturn [{ json: { status:'pass', contract_text: contractText } }];"
        },
        "id": "w6",
        "name": "Decode Contract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          60,
          -120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w7",
        "name": "Contract OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          300,
          -120
        ]
      },
      {
        "parameters": {
          "jsCode": "const gate = $items('Gatekeeper')[0]?.json;\nconst contract = $items('Decode Contract')[0]?.json;\nif (!gate || gate.status !== 'pass') return [{ json: { status:'error', error_type:'validation_failed', message:'Gatekeeper missing', details:'', error_http_code:400 } }];\nif (!contract || contract.status !== 'pass') return [{ json: { status:'error', error_type:'config_missing', message:'Contract missing', details:'', error_http_code:500 } }];\n\nconst payload = gate.payload;\nconst contractText = String(contract.contract_text || '').trim();\nconst forcedHighStakes = payload.high_stakes === 'true';\n\nconst requiredKeys = [\"artifact_classification\", \"board_route_chosen\", \"what_holds_up\", \"what_breaks\", \"what_is_still_underspecified\", \"minimum_required_changes\", \"revised_prompt_or_next_step_prompt\", \"revised_readiness_level\", \"revised_decision\", \"what_to_do_next\"];\nconst allowedDecisions = ['Kill','Park','Prototype','Harden','Pilot','Produce','Scale'];\n\nconst driveRoot = String($env.REVIEW_GATE_DRIVE_ROOT_FOLDER_ID || '').trim();\nif (!driveRoot) return [{ json: { status:'error', error_type:'config_missing', message:'Missing REVIEW_GATE_DRIVE_ROOT_FOLDER_ID', details:'', error_http_code:500 } }];\n\nconst system = [\n  'You are the Review Board.',\n  '',\n  'You must follow the canonical Review Board contract below (source of truth):',\n  '---',\n  contractText || '(EMPTY CONTRACT FILE)',\n  '---',\n  '',\n  'Return ONLY valid JSON.',\n  'No markdown.',\n  'No commentary.',\n  'No extra text.',\n  'No extra keys.',\n  '',\n  `Your JSON MUST have exactly these keys: ${requiredKeys.join(', ')}`,\n  '',\n  'Types (MUST match exactly):',\n  '- artifact_classification: string',\n  '- board_route_chosen: string',\n  '- what_holds_up: array of strings (use [] if none)',\n  '- what_breaks: array of strings (use [] if none)',\n  '- what_is_still_underspecified: array of strings (use [] if none)',\n  '- minimum_required_changes: array of strings (use [] if none)',\n  '- revised_prompt_or_next_step_prompt: string',\n  '- revised_readiness_level: string',\n  `- revised_decision: string (MUST be one of: ${allowedDecisions.join(', ')})`,\n  '- what_to_do_next: array of strings (use [] if none)',\n  '',\n  'If you are unsure about a field, return the correct type with a conservative value (e.g. empty array).',\n  '',\n  forcedHighStakes\n    ? 'High-stakes override is TRUE. You MUST set board_route_chosen to exactly: \"High-Stakes Review\".'\n    : 'High-stakes override is FALSE. Choose classification and board_route_chosen per the contract.',\n].join('\\n');\n\nconst user = [\n  'Review this artifact intake payload. Use the contract to select classification, route, and produce the required board output.',\n  '',\n  'INTAKE PAYLOAD (flat JSON):',\n  JSON.stringify(payload, null, 2),\n].join('\\n');\n\nconst openaiBody = {\n  model: 'gpt-5.2-chat-latest',\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user },\n  ],\n  response_format: { type: 'json_object' },\n};\n\nreturn [{ json: { status:'pass', payload, forced_high_stakes: forcedHighStakes, openai_body: openaiBody, drive_root_folder_id: driveRoot } }];"
        },
        "id": "w8",
        "name": "Build OpenAI Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          -120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $env.OPENAI_API_KEY }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "w9",
        "name": "Has OpenAI Key?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          780,
          -120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "none",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.openai_body }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json",
                "fullResponse": true
              }
            }
          }
        },
        "id": "w10",
        "name": "OpenAI Review (HTTP)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1020,
          -240
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const ctx = $items('Build OpenAI Request')[0]?.json;\nconst forced = !!ctx?.forced_high_stakes;\nconst requiredKeys = [\"artifact_classification\", \"board_route_chosen\", \"what_holds_up\", \"what_breaks\", \"what_is_still_underspecified\", \"minimum_required_changes\", \"revised_prompt_or_next_step_prompt\", \"revised_readiness_level\", \"revised_decision\", \"what_to_do_next\"];\nconst allowedDecisions = ['Kill','Park','Prototype','Harden','Pilot','Produce','Scale'];\n\nconst res = $json;\nif (res && typeof res === 'object' && res.error) {\n  const err = res.error;\n  return [{ json: { status:'error', error_type:'openai_failed', message:'OpenAI request failed', details: JSON.stringify({ message: err.message, code: err.code, status: err.status }), error_http_code:502 } }];\n}\n\nconst body = res?.body ?? res;\nconst content = body?.choices?.[0]?.message?.content;\nif (typeof content !== 'string' || !content.trim()) {\n  return [{ json: { status:'error', error_type:'openai_failed', message:'OpenAI returned no message content', details:'', error_http_code:502 } }];\n}\nif (content.includes('```')) {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'LLM returned markdown/code fence; expected raw JSON only', details:'', error_http_code:502 } }];\n}\n\nlet review;\ntry { review = JSON.parse(content); } catch (e) {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'LLM returned non-JSON', details: String(e?.message || e), error_http_code:502 } }];\n}\nif (!review || typeof review !== 'object' || Array.isArray(review)) {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'LLM JSON must be an object', details:'', error_http_code:502 } }];\n}\n\nconst missing = requiredKeys.filter(k => !(k in review));\nconst extras = Object.keys(review).filter(k => !requiredKeys.includes(k));\nif (missing.length || extras.length) {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'LLM JSON did not match required key contract', details: JSON.stringify({ missing_keys: missing, extra_keys: extras }), error_http_code:502 } }];\n}\n\nfor (const k of ['artifact_classification','board_route_chosen','revised_prompt_or_next_step_prompt','revised_readiness_level','revised_decision']) {\n  if (typeof review[k] !== 'string') return [{ json: { status:'error', error_type:'invalid_review_output', message:`Field ${k} must be a string`, details:'', error_http_code:502 } }];\n}\nfor (const k of ['what_holds_up','what_breaks','what_is_still_underspecified','minimum_required_changes','what_to_do_next']) {\n  if (!Array.isArray(review[k])) return [{ json: { status:'error', error_type:'invalid_review_output', message:`Field ${k} must be an array`, details:'', error_http_code:502 } }];\n}\nif (forced && review.board_route_chosen !== 'High-Stakes Review') {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'high_stakes override violated; board_route_chosen must be High-Stakes Review', details:'', error_http_code:502 } }];\n}\nif (!allowedDecisions.includes(review.revised_decision)) {\n  return [{ json: { status:'error', error_type:'invalid_review_output', message:'revised_decision must be one of the decision ladder values', details: JSON.stringify({ allowed: allowedDecisions, got: review.revised_decision }), error_http_code:502 } }];\n}\n\nconsole.log('review-gate:review_ok', { artifact_id: ctx.payload.artifact_id, revised_decision: review.revised_decision, board_route: review.board_route_chosen });\nreturn [{ json: { status:'pass', payload: ctx.payload, review, drive_root_folder_id: ctx.drive_root_folder_id } }];"
        },
        "id": "w11",
        "name": "Validate Review Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          -240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w12",
        "name": "Review OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1500,
          -240
        ]
      },
      {
        "parameters": {
          "jsCode": "const workflowVersion = String($env.REVIEW_WORKFLOW_VERSION || '').trim() || 'unknown';\nconst payload = $json.payload;\nconst review = $json.review;\nconst root = String($json.drive_root_folder_id || '').trim();\nif (!root) return [{ json: { status:'error', error_type:'config_missing', message:'Missing REVIEW_GATE_DRIVE_ROOT_FOLDER_ID', details:'', error_http_code:500 } }];\n\nconst fileName = `${payload.artifact_id}__v${payload.artifact_version}.json`;\nconst artifact = {\n  metadata: {\n    artifact_id: payload.artifact_id,\n    artifact_title: payload.artifact_title,\n    artifact_version: payload.artifact_version,\n    submitted_by: payload.submitted_by,\n    submitted_at: payload.submitted_at,\n    workflow_version: workflowVersion,\n  },\n  intake: payload,\n  review,\n};\nconst fileContent = JSON.stringify(artifact, null, 2);\n\nreturn [{ json: { status:'pass', drive_root_folder_id: root, decision_folder_name: review.revised_decision, file_name: fileName, file_content: fileContent, payload, review } }];"
        },
        "id": "w13",
        "name": "Drive Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1740,
          -240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w14",
        "name": "Drive Context OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1980,
          -240
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "operation": "search",
          "searchMethod": "query",
          "queryString": "={{ \"mimeType = 'application/vnd.google-apps.folder' and name = '\" + $json.decision_folder_name + \"' and trashed = false\" }}",
          "returnAll": false,
          "limit": 10,
          "filter": {
            "folderId": {
              "mode": "id",
              "value": "={{ $json.drive_root_folder_id }}"
            },
            "whatToSearch": "folders",
            "includeTrashed": false
          }
        },
        "id": "w15",
        "name": "Drive Search Decision Folder",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2220,
          -360
        ],
        "continueOnFail": true,
        "settings": {
          "alwaysOutputData": true
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $items('Drive Context')[0]?.json;\nif (!ctx || ctx.status !== 'pass') return [{ json: { status:'error', error_type:'drive_failed', message:'Drive context missing', details:'', error_http_code:502 } }];\nconst items = $input.all().map(i => i.json);\nconst errItem = items.find(j => j && typeof j === 'object' && j.error);\nif (errItem) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Drive folder search failed', details: JSON.stringify(errItem), error_http_code:502 } }];\n}\nconst folders = items.filter(j => j && typeof j === 'object' && typeof j.id === 'string' && j.id && j.name === ctx.decision_folder_name);\nif (folders.length > 1) return [{ json: { status:'error', error_type:'drive_failed', message:'Multiple decision folders found; cannot proceed safely', details: JSON.stringify({ decision: ctx.decision_folder_name, folder_ids: folders.map(f => f.id) }), error_http_code:502 } }];\nif (folders.length === 1) return [{ json: { status:'found', decision_folder_id: folders[0].id } }];\nreturn [{ json: { status:'create', decision_folder_name: ctx.decision_folder_name, drive_root_folder_id: ctx.drive_root_folder_id } }];"
        },
        "id": "w16",
        "name": "Pick or Create Decision Folder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2460,
          -360
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "found"
              }
            ]
          }
        },
        "id": "w17",
        "name": "Have Folder?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          2700,
          -360
        ]
      },
      {
        "parameters": {
          "resource": "folder",
          "operation": "create",
          "name": "={{ $json.decision_folder_name }}",
          "folderId": {
            "mode": "id",
            "value": "={{ $json.drive_root_folder_id }}"
          },
          "options": {}
        },
        "id": "w18",
        "name": "Drive Create Decision Folder",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2940,
          -240
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const created = $json;\nif (created && typeof created === 'object' && created.error) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Failed to create decision folder', details: JSON.stringify({ message: created.error.message, name: created.error.name }), error_http_code:502 } }];\n}\nif (!created || typeof created.id !== 'string' || !created.id) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Drive did not return created folder id', details:'', error_http_code:502 } }];\n}\nreturn [{ json: { status:'found', decision_folder_id: created.id } }];"
        },
        "id": "w19",
        "name": "Folder Create Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3180,
          -240
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "operation": "search",
          "searchMethod": "query",
          "queryString": "={{ \"name = '\" + $items('Drive Context')[0].json.file_name + \"' and trashed = false\" }}",
          "returnAll": false,
          "limit": 2,
          "filter": {
            "folderId": {
              "mode": "id",
              "value": "={{ $json.decision_folder_id }}"
            },
            "whatToSearch": "files",
            "includeTrashed": false
          }
        },
        "id": "w20",
        "name": "Drive Search Duplicate File",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2940,
          -480
        ],
        "continueOnFail": true,
        "settings": {
          "alwaysOutputData": true
        }
      },
      {
        "parameters": {
          "jsCode": "const ctx = $items('Drive Context')[0]?.json;\nconst items = $input.all().map(i => i.json);\nconst errItem = items.find(j => j && typeof j === 'object' && j.error);\nif (errItem) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Drive duplicate check failed', details: JSON.stringify(errItem), error_http_code:502 } }];\n}\nconst found = items.filter(j => j && typeof j === 'object' && typeof j.id === 'string' && j.id);\nif (found.length) return [{ json: { status:'error', error_type:'duplicate_submission', message:'Duplicate artifact_id + artifact_version already exists', details: JSON.stringify({ file_name: ctx.file_name, file_ids: found.map(f => f.id) }), error_http_code:409 } }];\nreturn [{ json: { status:'pass' } }];"
        },
        "id": "w21",
        "name": "Duplicate Check Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3180,
          -480
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w22",
        "name": "Not Duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          3420,
          -480
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "createFromText",
          "content": "={{ $items('Drive Context')[0].json.file_content }}",
          "name": "={{ $items('Drive Context')[0].json.file_name }}",
          "folderId": {
            "mode": "id",
            "value": "={{ $items('Pick or Create Decision Folder')[0].json.decision_folder_id || $items('Folder Create Result')[0].json.decision_folder_id }}"
          },
          "options": {}
        },
        "id": "w23",
        "name": "Drive Create File",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3660,
          -600
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const created = $json;\nif (created && typeof created === 'object' && created.error) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Drive file creation failed', details: JSON.stringify({ message: created.error.message, name: created.error.name }), error_http_code:502 } }];\n}\nif (!created || typeof created.id !== 'string' || !created.id) {\n  return [{ json: { status:'error', error_type:'drive_failed', message:'Drive did not return file id', details:'', error_http_code:502 } }];\n}\nreturn [{ json: { status:'pass', file_id: created.id } }];"
        },
        "id": "w24",
        "name": "Drive Create Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3900,
          -600
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "operation": "equal",
                "value2": "pass"
              }
            ]
          }
        },
        "id": "w25",
        "name": "Drive Write OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          4140,
          -600
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { status:'success', artifact_id: $items('Drive Context')[0].json.payload.artifact_id, file_id: $json.file_id, reviewed_at: $now.toISO(), review: $items('Drive Context')[0].json.review } }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "w26",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          4380,
          -720
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Gatekeeper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gatekeeper": {
        "main": [
          [
            {
              "node": "Passed Gate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Passed Gate?": {
        "main": [
          [
            {
              "node": "Read Contract",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Contract": {
        "main": [
          [
            {
              "node": "Contract Binary \u2192 JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contract Binary \u2192 JSON": {
        "main": [
          [
            {
              "node": "Decode Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decode Contract": {
        "main": [
          [
            {
              "node": "Contract OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contract OK?": {
        "main": [
          [
            {
              "node": "Build OpenAI Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build OpenAI Request": {
        "main": [
          [
            {
              "node": "Has OpenAI Key?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has OpenAI Key?": {
        "main": [
          [
            {
              "node": "OpenAI Review (HTTP)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Review (HTTP)": {
        "main": [
          [
            {
              "node": "Validate Review Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Review Output": {
        "main": [
          [
            {
              "node": "Review OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Review OK?": {
        "main": [
          [
            {
              "node": "Drive Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Context": {
        "main": [
          [
            {
              "node": "Drive Context OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Context OK?": {
        "main": [
          [
            {
              "node": "Drive Search Decision Folder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Search Decision Folder": {
        "main": [
          [
            {
              "node": "Pick or Create Decision Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick or Create Decision Folder": {
        "main": [
          [
            {
              "node": "Have Folder?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Have Folder?": {
        "main": [
          [
            {
              "node": "Drive Search Duplicate File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Drive Create Decision Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Create Decision Folder": {
        "main": [
          [
            {
              "node": "Folder Create Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Folder Create Result": {
        "main": [
          [
            {
              "node": "Drive Search Duplicate File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Search Duplicate File": {
        "main": [
          [
            {
              "node": "Duplicate Check Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Duplicate Check Result": {
        "main": [
          [
            {
              "node": "Not Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Duplicate?": {
        "main": [
          [
            {
              "node": "Drive Create File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Create File": {
        "main": [
          [
            {
              "node": "Drive Create Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Create Result": {
        "main": [
          [
            {
              "node": "Drive Write OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Write OK?": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "tags": []
  }
]